#screen-details {
  padding-top: 100%;
  margin: auto;
  background-size: 100% auto;
  cursor: pointer;
  transition: background-position 5s linear;
}

#screen-details:hover {
  background-position: 0 100%;
}

@media (max-width: 30em) {
  #screen-details {
    width: 15.56em;
    padding-top: 9.725em;
  }
}

@media (max-width: 22em) {
  #screen-details {
    width: 13.2em;
    padding-top: 8.25em;
  }
}
