#screen {
  /* width: 50%; */
  padding-top: 60.25%;
  margin: auto;
  /* border: 0.8em solid #000; */
  /* border-radius: 0.75em 0.75em 0 0; */
  background-size: 100% auto;
  cursor: pointer;
  transition: background-position 5s linear;
}

#screen:hover {
  background-position: 0 100%;
}

#base {
  /* width: 64.1%; */
  padding-top: 3.4%;
  margin: auto;
  background-size: 100% auto;
  background-position: 0 100%;
}

@media (max-width: 30em) {
  #screen {
    width: 15.56em;
    padding-top: 9.725em;
  }
  #base {
    width: 20em;
    padding-top: 1.1em;
  }
}

@media (max-width: 22em) {
  #screen {
    width: 13.2em;
    padding-top: 8.25em;
  }
  #base {
    width: 17em;
    padding-top: 0.9em;
  }
}

.project-box-shadow {
  transition: 0.2s;
}
.project-box-shadow:hover {
  width: 25rem;
}
